@font-face{
    font-family: Avenir;
    src: url(avenir/AvenirLTStd-Book.otf);
}

@font-face{
    font-family: Avenir-Med;
    src: url(avenir/AvenirLTStd-Roman.otf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

html{
    font-family: 'Montserrat-Light', sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 20px;
    font-family: Avenir, sans-serif !important;
}
.blue-text{
    color: var(--main-blue);
}
:root{
    --main-black: #2E2E2E;
    --main-blue: #0697F2;
    --sec-blue: #BFE6FF;
    --main-gray: #C1C1C1;
    --sec-gray: #F7F7F7;
}

a{
    font-size: 17px;
    color: var(--main-black);
    text-decoration: none;
}

#name{
    display: none;
}

nav{
    position: absolute;
    top: 25px;
    /* left: 5%; */
    line-height: 50px;
    width: 100%;
}

.name{
    margin-left: 5%;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--main-black);
}

.right-nav{
    position: absolute;
    right: 5%;
    top: 5px;
}

.right-nav a:last-child{
    font-family: 'Montserrat';
    color: var(--main-blue);
    margin-left: 60px;
}

#menu{
    display: flex;
    width: 100%;
    /* height: 80%; */
    height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#menu .items{
    margin-bottom: 10%;
    /* margin: 2%; */
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
}


.content{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 8% auto;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.photo, .bio{
    margin: 0 2%;
}

.photo{
    position: relative;
}

.bio{
    margin-top: 5%;
}

.rectangle{
    width: 500px;
    height: 700px;
    background-color: var(--sec-blue);
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 240px;
}
.bio h1{
    /* font-family: 'Montserrat-Thin', sans-serif; */
}
#me{
    width: 500px;
    height: 700px;
}

footer{
    position: fixed;
    bottom: 50px;
    right: 5%;
}

.social{
    position: fixed;
    left: 5%;
}

.social > a{
    margin-right: 60px;
    text-decoration: none;
}

footer > p, .social > a {
    font-weight: 500;
}

.mobile-footer{
    display: none;
}

/*RESPONSIVE*/

@media only screen and (max-width: 500px){

    body, html{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .mobile-nav{
        padding-bottom: 10%;
        position: relative;
        margin-top: 8%;
    }

    
    nav{
        visibility: hidden;
    }

    #hamburger{
        position: absolute;
        right: 5%;
        top: 3%;
    }

    #name{
            position: absolute;
            display: block;
            top: 4%;
            left: 5%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: var(--main-black);
        }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: rgb(19, 19, 19);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate first bar */
       .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 2px) ;
        transform: rotate(-45deg) translate(-5px, 2px) ;
      } 
      
      /* Fade out the second bar */
       .change .bar2 {
        opacity: 0;
      }
      
      /* Rotate last bar */
       .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-10px, -8px) ;
        transform: rotate(45deg) translate(-10px, -8px) ;
      }

    .content{
        width: 90%;
    }

      footer{
        display: none;
    }

    .mobile-footer{
        display: flex;
        flex-direction: row;
        margin-top: 20%;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .content{
        flex-direction: column;
        position: relative;
    }

    .rectangle{
        display: none;
    }

    #me{
        position: absolute;
        width: 50vw;
        height: auto;
        left: 23%;
        -webkit-box-shadow: 5px -10px 20px 0px rgba(75, 79, 124, 0.3);
        -moz-box-shadow: 5px -10px 20px 0px rgba(75, 79, 124, 0.3);
        box-shadow: 5px -10px 20px 0px rgba(75, 79, 124, 0.3);
    }

    .bio{
        margin-top: 100%;
    }

    h1{
        font-size: 15px;
    }
}